# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.sqlite3
*.db

# ---- Virtual environment ----
.venv/
venv/

# ---- Environment variables ----
.env

# ---- VSCode ----
.vscode/
.settings/

# ---- OS Cache ----
*.DS_Store
Thumbs.db

# ---- Logs ----
*.log

# ---- pytest cache ----
.pytest_cache/
.coverage

# ---- MySQL dumps ----
*.sql
